 <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The challenges</h2>
                    <div class="lead">The Lëtz Cybersecurity Challenge provides up to 30 challenges in the categories:
                        <ul>
                            <li>web app security</li>
                            <li>reverse engineering</li>
                            <li>crypto & stegano</li>
                            <li>forensics</li>
                            <li>network security</li>
                            <li>wireless (hertzian)</li>
                            <li>explotation</li>
                            <li>arduino</li>
                            <li>mobile</li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                    </div>
		   </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

