<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Lëtz Cybersecurity Challenge</h2>
                <div class="lead">The Luxembourg Cybersecurity Challenge is organized by C3, the Cybersecurity Competence Center Luxembourg
                    <p>This competition targets open-minded creative digital natives. Our aim is not only to find talents but encourage young people to pursue a career in cybersecurity and related disciplines.</p>
                    <p>With over 20 unique challenges on the day, we have tasks and activities to keep participants entertained. Participants have to solve security related tasks from domains such as web security, network
                        security, wireless and IoT security, cryptography, exploitation, reverse engineering, forensics, puzzles, trivia and much more.<br/>
                    So if you enjoy solving challenges, coding, security, IT or just having fun then Lëtz Cybersecurity Challenge is for you.</p>
                    <p>Furthermore, through CSCL, we promote safe online behaviors by raising awareness on information security issues as well as develop expertise and interest in cybersecurity through challenging games and skill tests.</p>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive post-images" style="height:60vh;" src="../img/services/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
